html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.nav-link {
  margin-right: 20px;
  color: white;
  white-space: nowrap;
}

.navbar-nav {
  margin-top: 30px;
}

#nav {
  font-size: large;
}

.wave {
  transform: rotate(180deg);
  fill: #1f37d2;
  width: 50%;
}

#bg2 {
  position: absolute;
}
