html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.nav-link {
  margin-right: 20px;
  color: white;
  white-space: nowrap;
}

.navbar-nav {
  margin-top: 30px;
}

#nav {
  font-size: large;
}
/* 
body {
  background-position: top left, top right, 0% 60%, 100% 100%;
} */

@media only screen and (max-width: 767px) {
  .text-white {
    color: black !important;
  }
}
