/*Classes*/
.bg_blue {
  background-color: #1f37d2;
}

.nav-link {
  margin-right: 20px;
  color: black;
}
.navbar-nav {
  margin-top: 30px;
}
.bg-light {
  --bs-bg-opacity: 0;
}
.margin-top {
  margin-top: 3em;
}

p.C {
  text-indent: 50px;
}
#temp {
  background-color: white;
  font-size: large;
}

#navbarNav {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.nav {
  padding-right: 1.5rem;
}

a.nav-link {
  color: rgba(0, 0, 0, 0.9);
}

#about {
  padding-left: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.list {
  padding-top: 2rem;
}

* Piano body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  font-family: "Abel", sans-serif;
}
a,
a:visited {
  color: black;
}

.machine-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  /* background: linear-gradient(to right, #000000, #323232); */

  display: flex;
  justify-content: center;
  align-items: center;
}
.human-bg {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  /* background: linear-gradient(to left, #000000, #323232); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  z-index: 4;
  font-size: 16px;
  text-align: center;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
.ui-hidden .controls {
  opacity: 0;
}
.machine-bg .controls {
  margin-bottom: 125px;
}
.controls #temperature {
  width: 200px;
}
.human-bg .controls {
  margin-top: 125px;
}

.machine-bg .player,
.human-bg .player {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
}
.machine-bg .player .key,
.human-bg .player .key {
  position: absolute;
  top: 0;
  height: 100%;
}
.machine-bg .player .key {
  background-color: #e91e63;
  opacity: 0;
}
.human-bg .player .key.down {
  background-color: #64b5f6;
  opacity: 0.9;
}

.keyboard {
  position: absolute;
  /* left: 5vw; */
  width: 85vw;
  top: calc(50% - 125px);
  height: 250px;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.keyboard.loaded {
  opacity: 1;
}

.keyboard .key {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px #333;
  border-radius: 3px;
}

.keyboard .key.accidental {
  height: 170px;
  z-index: 2;
  background-color: black;
  box-shadow: none;
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loading {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(50% - 30px);
  height: 250px;
  text-align: centeR;

  color: black;
  font-size: 40px;
}
h5 {
  font-family: "Poppins";
  font-size: calc(1.375rem + 1.5vw);
}

.navbar-nav {
  margin-top: 10px;
}

#nav {
  font-size: large;
}

@media only screen and (max-width: 576px) {
  #project {
    justify-content: center;
  }
}
